/*---------------------Basic------------------*/
body{
	overflow-x: hidden;
   text-rendering: optimizelegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
	font-family: 'Montserrat', sans-serif!important;
}
body a,body a:hover,body a:focus{
	text-decoration:none;
}
h1,h2,h6{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body ul{
	list-style: none;
}
/*---------------------------Custom classes----------*/
.bold{
	font-weight: bold;
	color: #000;
}
.tag-green, .tag-green:hover{
	color: #4cca82;
}
.tag-blue, .tag-blue:hover{
	color: #3bb8d6;
}
.tag-red, .tag-red:hover{
	color: #dd4b75;
}
.tag-red:hover, .tag-green:hover, .tag-blue:hover{
	font-weight: bold;
}
.upper{
	text-transform: uppercase;	
}
.read-more{
	color: #a44273;
}
.read-more:hover{
	color: #a44273;
	font-weight:bold;
}
/*-------------------------------Header--------------*/
.dropdown{
	padding-top: 14px!important;
}
.open .dropdown-menu{
	top: 140%!important; 
}
.nav .open .menu-element, .nav .menu-element{
	background: none!important;
}
.nav .open .menu-element:hover, .nav .open .menu-element:focus{
	background-color: rgba(255, 255, 255, 0.4)!important;
	border-radius: 4px;
}
.navbar-nav .open .dropdown-menu li a:hover {
	background-color: #eceaea!important;
}
.blog-page-header{
	background-image: linear-gradient(to right, #b73c6b, #a14475);
  	box-shadow: 0 0 10px 0 #a44273;
}
.navbar{
	margin-bottom: 0!important;
}
.navbar-right .menu-element{
	color: #FFF;
	font-size: 15px;
	padding: 10px!important;
	font-weight: 600;
	margin: 5px!important;
}
.navbar-right .menu-element:hover{
	background-color: rgba(255, 255, 255, 0.2)!important;
	border-radius: 4px;
	transition: all .5s;
}
.navbar-right i{
	margin-right: 10px;
}
.navbar-header .logo img{
	padding: 20px 15px 10px;
}
.navbar-toggle {
	    border: 1px solid #FFF!important;
	    margin-top: 10px!important;
}
.navbar-toggle .icon-bar{
	background-color: #FFF!important;
}
.navbar-collapse{
	box-shadow: none!important;
}
/*--------------------------------Blog--------------------*/
.blog-content{
	padding-top: 30px;
	padding-bottom: 80px;
}
.blog-content h2{
	font-size: 28px;
	font-weight: bold;
	margin: 0;
}
.blog-heading{
	font-size: 20px;
  	line-height: 1.27;
  	color: #5c5f77;
  	font-weight: 600;
}
.blog-heading:hover{
	color: #000;
}
.blog-content p{
	color: #828282;
}
.odd-post-content{
	float: right;
    width: 48%;
    padding-top: 40px;
}
.odd-post img{
	border-radius: 8px;
	width: 48%;
	box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.even-post-content{
	width: 48%;
    float: left;
    padding-top: 45px
}
.even-post img{
	border-radius: 8px;
	float: right;
	width: 48%;
	box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.odd-post, .even-post{
	padding: 30px 0;
}
.even-post img:hover, .odd-post img:hover, .logo img:hover, .footer-logo-box img:hover{
	-webkit-transform:scale(1.02); 
    -moz-transform:scale(1.02); 
    -ms-transform:scale(1.02); 
    -o-transform:scale(1.02); 
    transform:scale(1.02);
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -o-transition:      all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    transition:         all 0.2s ease;
}

/*-------------------------------Post----------------*/
.blog-post-banner{
	background: url(../images/post-background.jpg) no-repeat ;
	background-position: center;
	background-size: cover;
	padding: 240px 0;
	margin-bottom: -180px;
	background-attachment: fixed;
}
.blog-post-content{
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
	margin:0 20px 80px;
	background-color: #FFF;
	border-radius: 10px;
}
.blog-post-wrapper{
	padding-top:40px;
	padding-bottom: 40px;
}
.blog-post-wrapper p{
	color: #828282;
}
.post-heading{
	font-size: 20px;
  	line-height: 1.27;
  	color: #5c5f77;
  	font-weight: 600;
  	margin-bottom: 20px;
}
.related-posts{
	padding: 35px 0;
}
.related-posts img{
	margin-bottom: 20px;
	width: 100%;
}
/*----------------------------------Index-----------------*/
.main-content{
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
	margin:0 20px 80px;
	background-color: #FFF;
	border-radius: 10px;
}
.main-banner{
	background: url(../images/index-banner.png) no-repeat ;
	background-position: center;
	background-size: cover;
	padding: 160px 0 300px;
	margin-bottom: -180px;
	margin-top: -61px;
	background-attachment: fixed;
}
.main-banner-headings h1{
	font-size: 32px;
  	text-align: center;
  	color: #FFF;
  	font-weight: 600;
  	margin-bottom: 20px;
}
.main-banner-headings h3{
	font-size: 20px;
  	line-height: 24px;
  	margin: auto;
  	max-width: 440px;
  	color: #FFF;
  	font-weight: 300;
  	text-align: center;
}
.main-banner-headings a{
	color: #FFF;
	font-size: 21px;
}
.main-banner-headings a:hover{
	color: #FFF;
	text-decoration: underline;
}
.main-banner-headings a:focus{
	color: #FFF;
}
.main-intro-text p{
	font-size: 20px;
  	font-weight: 300;
  	line-height: 24px;
  	margin: auto;
  	max-width: 670px;
  	text-align: center;
  	opacity: 0.5;
}
.main-intro-text{
	padding: 50px 0 70px;
}
.main-widgets{
	text-align: center;
}
.main-widgets h4{
	color: #4b4b4b;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
}
.widget-image{
	padding-bottom: 15px;
}
.main-widgets p{
	font-size: 16px;
  	font-weight: 300;
  	line-height: 20px;
  	opacity: 0.5;
  	max-width: 90%;
    margin: auto;
}
.main-services{
	padding: 40px 0 55px;
}
.main-services h4{
	color: #4b4b4b;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 3px;
	line-height: 22px;
}
.main-services h5{
	opacity: 0.5;
  	font-size: 10px;
  	font-weight: 600;
  	line-height: 2;
  	color: #000000;
  	text-transform: uppercase;
  	margin: 0 0 15px;
}
.main-services p{
	font-size: 16px;
  	font-weight: 300;
  	line-height: 20px;
  	opacity: 0.5;
  	max-width: 380px;
}
.service-content-box{
	padding-top: 55px;
}
.service-image-box{
	text-align: center;
}
.service-image-box img{
	width: 86%;
}
/*-----------------------------------Contact--------------*/
.contact-banner{
	background: url(../images/contact-banner.jpg) no-repeat ;
	background-position: center;
	background-size: cover;
	margin-top: -61px;
	padding-bottom: 100px;
	background-attachment: fixed;
}
.contact-form{
	margin-top: 150px;
	border-radius: 10px;
	box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
	background-color: #FFF;
	padding-top:30px;
	padding-bottom: 50px; 
}
.contact-form .contact-form-heading{
	border-radius: 5px;
    background-image: linear-gradient(72deg, #ac2e7c, #b11e7a);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    margin: auto;
    width: 70%;
    padding: 30px;
    margin-top: -55px;
    text-align: center;
}
.contact-form-heading h2{
	margin:0 0 20px;
	font-size: 22px;
    font-weight: bold;
    color: #FFF;
}
.contact-form-heading a{
	margin:0 7px;
	color: #FFF;
}
.contact-form-heading a:first-of-type:hover, .contact-form-heading a:first-of-type:focus{
	color: #3a589e;
}
.contact-form-heading a:nth-of-type(2):hover, .contact-form-heading a:nth-of-type(2):focus{
	color: #429cd6;
}
.contact-form-heading a:last-of-type:hover, .contact-form-heading a:last-of-type:focus{
	color: #df4b37;
}
.contact-form .form-col{
	padding-top: 30px;
}
.form-col label{
	width: 100%;
	margin:20px 0;
}
.form-col{
	text-align: center;
}
.form-col input, .form-col textarea{
	border: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius:0;
    border-radius: 0;
	border-bottom: solid 1px rgba(151, 151, 151, 0.9);
	font-weight: 300;
	max-width: 100%;
	width: 100%;
	max-height: 137px;
}
.form-col input, .form-col textarea:focus{
	outline: none;
}
.form-col input[type="text"]{
	background: url(../images/user.png) no-repeat ;
	background-position-y: 12px;
    background-position-x: 8px;
    padding: 10px 40px;
}
.form-col input[type="email"]{
	background: url(../images/mail.png) no-repeat ;
	background-position-y: 12px;
    background-position-x: 8px;
    padding: 10px 40px;
}
.form-col input[type="password"]{
	background: url(../images/pass.png) no-repeat ;
	background-position-y: 12px;
    background-position-x: 8px;
    padding: 10px 40px;
}
.form-col textarea{
	padding: 8px;
}
.form-col input[type="submit"]{
	-webkit-appearance: none;
	-webkit-border-radius:6px;
	border-radius: 6px;
  	background-image: linear-gradient(75deg, #b11e7a, #ac2e7c);
  	width: auto;
  	padding: 7px 40px;
  	text-transform: uppercase;
  	color: #FFF;
  	font-size: 12px;
    border-bottom: none!important;
}
.form-col input[type="submit"]:hover{
	background-image: linear-gradient(75deg, #b1006f, #882e65);
}
.form-content{
	display: inline-block;
}
.text-form-col h4{
 	color: #4f4f4f;
 	font-size: 16px;
 	font-weight: bold;
 	margin-top: 5px;
}
.text-form-col p{
  	font-weight: 300;
  	line-height: 1.22;
  	opacity: 0.5;
}
.text-form-col img{
	margin-right: 15px;
    width: 25px;
    height: 30px;
}
.text-form-col li{
	margin: 30px 0;
	display: flex;
}
.text-form-col ul{
	padding-left: 80px;
}
.text-form-col{
	padding-top: 30px;
}
/*----------------------------------Registration----------*/
.reg-form h2{
	text-align: center;
	color: #4f4f4f;
 	font-size: 24px;
 	font-weight: bold;
 	margin: 10px 0 0;
}
.reg-form .form-col{
	padding-top: 30px;
}
.reg-form .form-content{
	
}
.reg-banner{
	background: url(../images/login-banner.jpg) no-repeat ;
	background-position: center;
	background-size: cover;
	margin-top: -61px;
	padding-bottom: 100px;
	background-attachment: fixed;
}
.reg-form{
	margin-top: 150px;
	border-radius: 10px;
	box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
	background-color: #FFF;
	padding-top:30px;
	padding-bottom: 50px; 
}
.reg-form input[type="submit"] {
	padding: 10px 40px;
    margin-top: 20px;
}
.reg-form .text-form-col ul{
	padding-left: 0px;
}
/*----------------------------------Login--------------------*/
.login-banner{
	background: url(../images/login-banner.jpg) no-repeat ;
	background-position: center;
	background-size: cover;
	margin-top: -61px;
	padding-bottom: 100px;
	background-attachment: fixed;
}
.login-form{
	margin-top: 170px;
	border-radius: 10px;
	box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
	background-color: #FFF;
	padding-top:30px;
	padding-bottom: 50px; 
}
.login-form input[type="submit"]{
	background:none;
	color: #ae2a7c;
	font-weight: 300;
	font-size: 16px;
}
.login-form input[type="submit"]:hover{
	background:none;
	font-weight: bold;
}
.login-form label{
	width: 84%;
}
.login-form h2{
	border-radius: 5px;
    background-image: linear-gradient(72deg, #ac2e7c, #b11e7a);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    margin: auto;
    width: 70%;
    color: #FFF;
    padding: 30px;
    margin-top: -55px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
/*----------------------------------Elements--------------*/
.elements-banner{
	background: url(../images/elements-banner.png) no-repeat ;
	background-position: center;
	background-size: cover;
	margin-top: -61px;
	padding: 140px 0 270px;
	margin-bottom: -180px;
	text-align: center;
	color: #FFF;
	background-attachment: fixed;
}
.elements-banner h2{
	font-size: 32px;
  	font-weight: 600;
  	margin-bottom: 20px;
}
.elements-banner h4{
	font-size: 20px;
  	line-height: 24px;
  	margin: auto;
  	max-width: 440px;
  	font-weight: 300;
}
.elements-wrapper{
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
	margin:0 20px 80px;
	background-color: #FFF;
	border-radius: 10px;
	padding: 20px 0 70px;
}
.elements-heading{
	font-size: 20px;
  	font-weight: 300;
  	color: #000000;
  	margin-bottom: 20px;
}
.button-content, .heading-content, .forms-content, .field-content{
	padding: 10px 0 20px 50px;
}
.typography-box{
	padding: 10px 0;
}
.typography-box:first-of-type{
	padding: 0;
}
.typography-box h1{
	font-weight: 300;
	font-size: 32px;
	line-height: 36px;
	margin-top: 0;
}
.typography-box h2{
	font-weight: 300;
	font-size: 26px;
	line-height: 30px;
}
.typography-box h3{
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
}
.typography-box h4{
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	margin: 20px 0;
}
.typography-box .title{
	font-weight: 700;
	color: #3C4858;
}
.typography-box p{
	font-size: 14px;
	line-height: 18px;
	opacity: 0.7;
	max-width: 750px;
}
.elements-buttons button{
	margin-right: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #FFF;

}
.elements-buttons .btn-round{
	border-radius: 12px;
}
.elements-buttons .btn-curcle{
	border-radius: 50%;
}
.btn-warning{
	background-color: #ff9800!important;
	box-shadow: 0 2px 2px 0 rgba(255,152,0,.14), 0 3px 1px -2px rgba(255,152,0,.2), 0 1px 5px 0 rgba(255,152,0,.12);
	border: none!important;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
}
.btn-warning:hover{
	box-shadow: 0 14px 26px -12px rgba(255,152,0,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(255,152,0,.2);
	border: none;
}
.btn-danger{
	background-color: #f44336!important;
	box-shadow: 0 2px 2px 0 rgba(244,67,54,.14), 0 3px 1px -2px rgba(244,67,54,.2), 0 1px 5px 0 rgba(244,67,54,.12);
	border: none!important;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
}
.btn-danger:hover{
	box-shadow: 0 14px 26px -12px rgba(244,67,54,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(244,67,54,.2);
	border: none;
}
.btn-success{
	background-color: #4caf50!important;
	box-shadow: 0 2px 2px 0 rgba(76,175,80,.14), 0 3px 1px -2px rgba(76,175,80,.2), 0 1px 5px 0 rgba(76,175,80,.12);
	border: none!important;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
}
.btn-success:hover{
	box-shadow: 0 14px 26px -12px rgba(76,175,80,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(76,175,80,.2);
	border: none;
}
.btn-info{
	background-color: #00bcd4!important;
	box-shadow: 0 2px 2px 0 rgba(0,188,212,.14), 0 3px 1px -2px rgba(0,188,212,.2), 0 1px 5px 0 rgba(0,188,212,.12);
	border: none!important;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
}
.btn-info:hover{
	box-shadow: 0 14px 26px -12px rgba(76,175,80,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(76,175,80,.2);
	border: none;
}
.btn-primary{
	background-color: #ac2c7b!important;
	box-shadow: 0 2px 2px 0 rgba(156,39,176,.14), 0 3px 1px -2px rgba(156,39,176,.2), 0 1px 5px 0 rgba(156,39,176,.12);
	border: none!important;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
}
.btn-primary:hover{
	box-shadow: 0 14px 26px -12px rgba(156,39,176,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(156,39,176,.2);
	border: none;
}
.btn-default{
	background-color: #999!important;
	box-shadow: 0 2px 2px 0 rgba(153,153,153,.14), 0 3px 1px -2px rgba(153,153,153,.2), 0 1px 5px 0 rgba(153,153,153,.12);
	border: none!important;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
}
.btn-default:hover{
	box-shadow: 0 14px 26px -12px rgba(153,153,153,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(153,153,153,.2);
	border: none;
	color: #FFF!important;
}
.forms-content{
	display: block;
}
.forms-content input, .forms-content textarea{
	border: none;
    background-image: linear-gradient(#ac2c7b,#ac2c7b),linear-gradient(#D2D2D2,#D2D2D2);
    background-size: 0 2px,100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom,center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}
.forms-content input[type=text-default]:focus, .forms-content textarea:focus{
	outline: none;
	background-size: 100% 2px,100% 1px;
	transition-duration: .3s;
	box-shadow: none;
}
.forms-content input[type=text-success]:focus{
	outline: none;
	background-image: linear-gradient(#4caf50,#4caf50),linear-gradient(#D2D2D2,#D2D2D2);
	background-size: 100% 2px,100% 1px;
	transition-duration: .3s;
	box-shadow: none;
}
.forms-content input[type=text-error]:focus{
	outline: none;
	background-image: linear-gradient(#f44336,#f44336),linear-gradient(#D2D2D2,#D2D2D2);
	background-size: 100% 2px,100% 1px;
	transition-duration: .3s;
	box-shadow: none;
}
.forms-content label{
	display: flex;
	margin-bottom: 40px;
}
.forms-content .fa-check{
	color: #4caf50;
	float: right;
	margin-left: -20px;
}
.forms-content .fa-close{
	color: #f44336;
	float: right;
	margin-left: -20px;
}
.forms-content textarea{
	max-width: 100%;
	width: 100%;
	max-height: 150px;
}
/*---------------------------------Footer-----------------*/
#footer{
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
}
.footer-logo-box{
	float: left;
	padding: 20px 15px;
}
.footer-menu{
	float: right;
	margin: 20px 0;
}
.footer-menu li{
	display: inline-block;
}
.footer-menu .social a{
	padding: 14px 3px 3px;
	color: #5c5f77;
}
.footer-menu .line{
	border-left: solid 1px #5c5f77;
	position: absolute;
    width: 1px;
    height: 23px; 
    margin-left: 10px;
}
.footer-menu .footer-text a{
	padding: 2px 5px;
	color: #5c5f77;
	font-weight: 600;
	margin-left: 20px;
	margin-top: 0;
	font-size: 16px;
	vertical-align: sub;
}
.footer-menu .social a:focus{
	color:#9f4376;
}
.footer-menu .social a:hover{
	color:#9f4376;
}
.footer-menu .footer-text a:hover {
	color:#9f4376;
}
/*--------------------------Media---------------------------*/
@media screen and (max-width:1199px){
	.odd-post-content {
		padding-top: 0;
	}
	.even-post-content {
		padding-top: 0;
	}
}
@media screen and (max-width:991px){
	.reg-form .form-col{
		padding-right: 15px;
	}
}
@media screen and (max-width:767px){
	.navbar-right li{
		padding: 5px 0!important;
	}
	.navbar-right {
		padding: 0!important;
	}
	.navbar-right .menu-element{
		padding: 10px 15px!important;
		width: 160px;
		margin: 0 5px!important;
	}
	.navbar-right .menu-element:hover{
		width: 160px;
	}
	.footer-menu .footer-text {
		display: block;
		padding: 15px 0;
	}
	.footer-menu{
		width: 100%;
		padding-left: 0;
		text-align: center;
	}
	.footer-logo-box{
		width: 100%;
		text-align: center;
		padding-bottom: 0;
	}
	.center-widget{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.service-content-box{
		text-align: center;
	}
	.main-services p {
		margin: auto;
	}
	.main-banner, .elements-banner{
		margin-top: -198px;
	}
	.main-banner-headings{
		padding-top: 80px;
	}
	.text-form-col li{
		text-align: center;
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	.text-form-col ul{
		padding-left: 0;
	}
	.form-content{
	text-align: left;
	}
	.form-col label{
		width: 75%;
	}
	.form-col input[type="submit"] {
		padding: 7px 54px;
	}
	.reg-form h2{
		padding-bottom: 20px;
	}
	.login-form label{
		width: 84%;
	}
	.login-banner, .contact-banner, .reg-banner{
	    margin-top: -198px;
    	padding-top: 130px;
	}
	.service-content-box {
    	padding-top: 0;
	}
	.contact-form .text-form-col {
    	padding-top: 50px;
	}
	.related-posts img {
    	width: auto;
    	margin-bottom: 10px;
	}
	.related-posts{
		text-align: center;
	}
	.login-form{
		margin-left: auto;
    	width: 60%!important;
    	margin-right: auto;
	}
	.main-content{
		margin:0 20px 50px;
	}
	#footer{
		box-shadow: none;
	}
	.main-banner{
		padding: 160px 0 250px;
	}
	.main-intro-text {
    	padding: 40px 0 50px;
	}
	.main-services {
    	padding: 40px 0 20px;
	}
	.main-intro-text p {
    	font-size: 18px;
    	line-height: 22px;
	}
	.main-widgets p {
    	font-size: 15px;
    	line-height: 18px;
	}
	.main-services p {
    	font-size: 15px;
    	line-height: 18px;
    }
    .main-widgets h4 {
    	font-size: 17px;
    	line-height: 20px;
	}
	.main-services h4{
		font-size: 17px;
    	line-height: 20px;
	}
	.blog-content {
    	padding-top: 30px;
    	padding-bottom: 30px;
	}
	.blog-post-content {
    	margin: 0 20px 40px;
	}
	.login-banner, .contact-banner, .reg-banner{
		padding-bottom: 80px;
	}
	.reg-form .form-col {
		padding-top: 0;
	}
	.contact-form {
    	margin-top: 200px;
    }
    .reg-form {
    	margin-top: 170px;
    }
    .post-heading {
    	font-size: 17px;
	}
	.blog-heading {
    	font-size: 17px;
	}
	.center-rel-post{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.form-col label {
    	margin: 15px 0;
	}
	.contact-form, .reg-form {
		padding-top: 10px; 
     	padding-bottom: 30px; 
	}
	.login-form {
		padding-bottom: 30px;
	}
	.navbar-nav .open .dropdown-menu {
    	position: absolute!important;
		background-color: #FFF!important;
    	left: 20%!important;
    	box-shadow: 0 6px 12px rgba(0,0,0,.175)!important;
	}
	.navbar-collapse.in {
    	overflow-y: visible!important;
	}
	.nav .open a, .nav .open a:focus, .nav .open a:hover {
		background:none!important;
		border-color: #FFF!important;
	}
	.navbar-nav .open .dropdown-menu li a:hover {
		background-color: #eceaea!important;
	}
	.footer-menu .line{
		display: none;
	}
	.footer-menu .footer-text a{
		margin-left: 0;
	}
	.typografy-box h1{
		font-weight: 300;
		font-size: 26px;
		line-height: 30px;
	}
	.typografy-box h2{
		font-weight: 300;
		font-size: 22px;
		line-height: 26px;
	}
	.typografy-box h3{
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
	}
	.typografy-box h4{
		font-weight: 300;
		font-size: 15px;
		line-height: 19px;
	}
	.button-content, .heading-content, .forms-content, .field-content{
		padding: 0 0 20px 20px;
	}
	.elements-banner{
		padding: 240px 0 250px;
	}
	.forms-content textarea, .forms-content input{
		max-width: 60%;
	}
	.text-form-col {
    	padding-top: 0;
	}
	.elements-wrapper {
		padding: 20px 0;
		margin: 0 20px 40px;
	}
	.blog-post-banner {
		padding: 160px 0;
	}
	.reg-form h2 {
		margin: 20px 0 0;
	}
}
@media screen and (max-width:600px){
	.blog-content img{
		width: 100%;
	}
	.odd-post-content {
		width: 100%;
	}
	.even-post-content {
		width: 100%;
	}
	.service-image-box{
		padding-top: 20px;
	}
	.odd-post-content{
		padding-top: 20px;
	}
}
@media screen and (max-width: 500px){
	.login-form{
		margin-left: auto;
    	width: 90%!important;
    	margin-right: auto;
	}
}
@media screen and (max-width: 400px){
	.related-posts img {
    	width: 100%;
	}
	.forms-content textarea, .forms-content input{
		max-width: 100%;
	}
	.text-form-col li {
		width: 100%;
	}
	.reg-form label{
		width: 100%;
	}
	.contact-form label{
		width: 100%;
	}
	.contact-form h2 {
		font-size: 20px;
	}
}